.overlay {
	align-items: center ;
	justify-content: center ;
	display: flex ;
}
.board ,
.cell {
	border: 3px #000000 solid ;
	border-radius: 3% ;
}
.board {
	display: inline-block ;
	width: 50% ;
	height: 50% ;
	padding: 1% ;
	margin: 0 auto ;

	transition-property: filter ;
	transition-timing-function: ease-in-out ;
	transition-duration: 0.3s ;
	/**
	animation-name: desk ;
	animation-duration: 3s ;
	animation-iteration-count: infinite ;
	animation-direction: alternate ;
	*/
}
.board.settings {
	position: absolute ;
	border: 1px black solid ;
	padding: 10px ;
	left: 65% ;
	top: 10% ;
}
.board.settings .player-count {
}
.error {
	filter: blur( 5px ) brightness(3%) ;
}
.cell.advised {
	outline: 4px #ff00ff dotted ;
}
.cell {
	padding: 4% ;
	margin: 0.2% ;
	float: left ;

	transition-property: border , background , filter , outline ;
	transition-timing-function: ease-in-out ;
	transition-duration: 0.3s ;
}
.cell.king {
	box-shadow: inset 5px 5px 15px 1px #3366ff ;
}
.cell[data-color="0"] {
	cursor: pointer ;
	background-color: gray ;
}
.cell[data-color="1"] {
	background-color: #c7c9b8 ;
}
.cell:not(.player-current):not([data-player="0"]) {
	cursor: not-allowed ;
}
.cell.player-current {
	filter: drop-shadow(5px 5px 4px #cc0000);
}
.cell.player-current:hover {
	outline: 4px blue dotted ;
}
.cell[data-player="1"] {
	background-color: white ;
}
.cell[data-player="2"] {
	background-color: black ;
}
.cell.checked {
	filter: blur( 4px ) ;
}
.both {
	clear: both ;
}
.template {
	display: none ;
}

@keyframes desk {
	from {
		transform: rotate(3deg);
	}

	25% {
		transform: rotate(15deg);
	}

	50% {
		transform: rotate(0);
	}

	75% {
		transform: rotate(-15deg);
	}

	to {
		transform: rotate(7deg);
	}
}